@page "/counter"
@rendermode InteractiveServer

@* @using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Calendars

<h3>InputActionConfirmPopup</h3>

<br/>

<SfTextBox/>
<SfNumericTextBox TValue="int"/>
<SfDateTimePicker TValue="DateTime"/> *@